html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

.header {
    background-color: #303f9f ;
    height: 10em;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
}

.icon-round {
    background-color: white;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: -7em;
    top: 25px;
    border: 1px solid #303f9f;
}

.icon {
    color: #303f9f;
    position: relative;
    top: 50%;
    width: 40;
    left: 50%;
    transform: translateX(-50%) translatey(-50%) scale(2);
}

.text-header{
    color: white;
}

.card{
    width: 50%;
    top: 5em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.champ-text {
    margin: 20px 0!important;
    width: 50%;
}

.valide-card {
    height: 200px  ;
    text-align: center;
}

.encodedUrl {
    width: 100% !important;
    text-overflow: ellipsis; 
    overflow: hidden;
}

.champ-text{
    width:100%;
}

@media screen and (max-width: 800px) {
    .card{
        top:2em;
        width: 90%;
    }
    .icon-round {
        width: 50px;
        height: 50px;
        left:90%;
        top: -15px;
        border: 0px;
    }
}

@media screen and (max-width: 400px) {
    .icon-round {
        left:80%;
        top: -5px;
    }
    
}